<h1>Dashboard</h1>
<div class="container" style="max-width: 1640px !important">
  <div class="row">
    <div class="col-md-3"><app-pie-chart></app-pie-chart></div>
    <div class="col-md-3"><app-pie3d-chart></app-pie3d-chart></div>
    <div class="col-md-3"><app-bubbler-chart></app-bubbler-chart></div>
    <div class="col-md-3"><app-line-chart></app-line-chart></div>
  </div>
  <div class="row">
    <div class="col-md-3"><app-org-chart></app-org-chart></div>
    <div class="col-md-3"><app-bar-chart></app-bar-chart></div>
    <div class="col-md-3"><app-area-chart></app-area-chart></div>
  </div>
</div>
